
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .logo{
    width: 100%;
    height: 50px;
  }
}
.links {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 767px) {
  .links {
    margin: auto;
    padding: 10px;
    font-size: 14px;
    height: 50px;
  }
}
.link {
  color: var(--main-color-alt);
}